In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

df = pd.read_csv("Online Retail.csv")

In [2]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

We will remove records that have quantity with less than 1 unit and unit price less than $0.

In [5]:
clean_df = df.copy()
clean_df = clean_df[(clean_df['Quantity']>1)&(clean_df['UnitPrice']>0)]
clean_df.describe()

            Quantity     UnitPrice     CustomerID
count  382281.000000  382281.00000  324583.000000
mean       14.231816       2.78836   15199.285449
std       183.008302       3.41549    1715.259264
min         2.000000       0.04000   12346.000000
25%         3.000000       1.25000   13767.000000
50%         6.000000       1.79000   15051.000000
75%        12.000000       3.75000   16717.000000
max     80995.000000     649.50000   18287.000000

Feature engineer a new column called `Total Sales`

In [6]:
clean_df['Total Sales'] = clean_df['Quantity'] * clean_df['UnitPrice']

Select rows with no null values for the `CustomerID`

In [7]:
clean_df = clean_df[clean_df['CustomerID'].notnull()]

Save the cleaned dataframe for visualization

In [8]:
clean_df.to_csv('Cleaned Online Retail.csv',index=False)